{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 50,
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"svelteSortOrder": "options-scripts-markup-styles"
			}
		}
	]
}
